.body {

}
/* _lg */
@media only screen and (max-width: 1440px) {

}

/* _md */
@media only screen and (max-width: 1020px) {
    .Aboutus {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .AboutusItem {
        width: 80% !important;
        margin: auto;
    }
}

/* _sm */
@media only screen and (max-width: 840px) {

}
